.carousel-item img{
  width: 100%;
  height: 85vh;
  object-fit: cover;
  margin-bottom: 50px;
}
.container{
  margin: 0 auto;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0.45);
  border-radius: .25rem;
  margin: 10px;
    border: none;



    & > .fab {
     height: 50px;
  width: 50px;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
      text-decoration:none;
  padding-top: 10px;
  border-radius: 50px;
  position: relative;
  top: -25px;
  left: 82%;
      box-shadow: 0 2px 1rem rgba(0,0,0,.6);
    }
 img{
  height: 250px;
  max-width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  }

  & > .card-body {
    padding: 16px;

    & > .card-title {
      font-family: Raleway;
      font-weight: bolder;
      font-size: 1.2rem;
    }

    & > p {
      text-align: justify;
      font-family: open sans;
      font-size: .95rem;

    }
  }
  & > .card-footer {
     background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.3);
  position: relative;
  padding: 0px 0;
    & > a {
     position: relative;
  cursor: pointer;
      color: rgb(0, 0, 0);
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
      text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  height: 54px;
  line-height: 54px;
  font-size: 15px;
  padding: 0 28px;
      &:hover {
        background-color: rgb(0, 0, 0);
        color: white;
      }
    }
    }
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

.container {
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center
}

p {
    margin: 0px
}

.card {
    width: 280px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    overflow: hidden
}

.card .backgroundEffect {
    bottom: 0;
    height: 0px;
    width: 100%
}

.card:hover {
    color: #fff;
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
}

.card:hover .backgroundEffect {
    bottom: 0;
    height: 320px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: $dark;
    animation: popBackground 0.3s ease-in
}

@keyframes popBackground {
    0% {
        height: 20px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%
    }

    50% {
        height: 80px;
        border-top-left-radius: 75%;
        border-top-right-radius: 75%
    }

    75% {
        height: 160px;
        border-top-left-radius: 85%;
        border-top-right-radius: 85%
    }

    100% {
        height: 320px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%
    }
}

.card .pic {
    position: relative
}

.card .pic img {
    width: 100%;
    height: 280px;
    object-fit: cover
}

.card .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 70px;
    background-color: $dark;
    color: white;
    position: absolute;
    bottom: 0px;
    transition: all ease
}

.card .date .day {
    font-size: 14px;
    font-weight: 600
}

.card .date .month,
.card .date .year {
    font-size: 10px
}

.card .text-muted {
    font-size: 12px
}

.card:hover .text-muted {
    color: #fff !important
}

.card .content {
    padding: 0 20px
}

.card .content .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: $dark;
    border-radius: 25px;
    font-size: 12px;
    border: none;
}

.card:hover .content .btn {
    background: #fff;
    color: $dark;
    box-shadow: #0000001a 0px 3px 5px
}

.card .content .btn .fas {
    font-size: 10px;
    padding-left: 5px
}

.card .content .foot .admin {
    color: $dark;
    font-size: 12px
}

.card:hover .content .foot .admin {
    color: #fff
}

  .btn-home:hover{
  background: white;
  color: $dark;
  box-shadow: #0000001a 0px 3px 5px;
  border: none;
}
.link-cars{
  text-decoration: none;
  color: white;
}


.cars:hover .link-cars{
  color: $dark;
}
