<div class="container-fluid p-0">
    <div class="row vh-100 align-items-center justify-content-center">
      <div class="container-2" style="max-width:400px;">
        <div class="col text-center">
          <img class="mb-5 w-75" src="https://1000marcas.net/wp-content/uploads/2020/10/Proton-logo.png">
          <h2 class="mb-4">Account Recovery</h2>
         </div>


  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions  d-grid gap-2 my-3">
    <%= f.button :submit, "Reset password", class: "btn btn-dark text-light"%>
  </div>
  <% end %>
 </div>
