<div class="container pb-2 mx-5" style='bottom:0;position:fixed'>
  <div class="row">
    <div class="col lg-6 col-sm-12">
        <div class="footer-links">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="col lg-6 col-sm-12">
    <a class="text-muted fw-light" style="text-decoration:none" href="mailto:email@example.com.ar">Contact us!</a>
    </div>
  </div>
</div>
