<div id="typing-containe" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <%= image_tag("https://res.cloudinary.com/dqhyltehg/image/upload/v1678909719/banner1_hwloo9.jpg", alt: "banner 1") %>
    <div class="carousel-caption d-none d-md-block mb-2">

        <h2>Welcome to Proton</h2>
        <h5>Rent your dream car</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://wallpaperaccess.com/full/1840757.jpg" class="d-block " alt="banner 2">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


