<div id="typing-containe" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <%= image_tag("https://res.cloudinary.com/dqhyltehg/image/upload/v1678909719/banner1_hwloo9.jpg", alt: "banner 1") %>
    <div class="carousel-caption d-none d-md-block mb-2">

        <h2>Welcome to Proton</h2>
        <h5>Rent your dream car</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://wallpaperaccess.com/full/1840757.jpg" class="d-block " alt="banner 2">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container-fluid">
<div class="mt-2 mb-5 text-center">
  <h2>Most rented cars</h2>
  </div>
    <div class="row text-center">
      <div class="col-lg-4 col-md-6 col-sm-12 card-1">
           <div class="card" >
      <img src="https://html5box.com/html5lightbox/images/lakeandballoon.jpg" alt="card 1">
    <div class="card-body">
        <h3 class="card-title">
          Car 1
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, ipsa, quod voluptatem consectetur tenetur quam dolorem optio consequatur eum hic, veritatis error natus ut nobis? Eum expedita doloremque ex facilis.
      </p>
    </div>
    <div class="card-footer">

        <a class= "av" href="">Available</a>
    </div>
  </div>

      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 card-2">
           <div class="card" >
      <img src="https://html5box.com/html5lightbox/images/lakeandballoon.jpg" alt="card 2">
    <div class="card-body">
        <h3 class="card-title">
          Car 2
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, ipsa, quod voluptatem consectetur tenetur quam dolorem optio consequatur eum hic, veritatis error natus ut nobis? Eum expedita doloremque ex facilis.
      </p>
    </div>
    <div class="card-footer">

        <a class= "av" href="">Available</a>
    </div>
  </div>

      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 card-3">
           <div class="card" >
      <img src="https://html5box.com/html5lightbox/images/lakeandballoon.jpg" alt="card 3">
    <div class="card-body">
        <h3 class="card-title">
          Car 3
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, ipsa, quod voluptatem consectetur tenetur quam dolorem optio consequatur eum hic, veritatis error natus ut nobis? Eum expedita doloremque ex facilis.
      </p>
    </div>
    <div class="card-footer">

        <a class= "av" href="">Available</a>
      </div>
    </div>
  </div>
</div>
