<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <%= image_tag("https://res.cloudinary.com/dqhyltehg/image/upload/v1678909719/banner1_hwloo9.jpg", alt: "Logo") %>
    <div class="carousel-caption d-none d-md-block">
        <h2>Welcome to Proton</h2>
        <h5>Rent your dreams car</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://wallpaperaccess.com/full/1840757.jpg" class="d-block " alt="image 3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima repellat maxime facere, saepe aliquam in, labore harum sint eius doloremque quo nemo obcaecati dolorem molestiae praesentium quam dolores, at quas?
Exercitationem quisquam, magnam, a quas dicta distinctio fugit eveniet hic aspernatur sint delectus enim! Quasi porro culpa dolore ullam, dicta perferendis tempore magnam? At corporis dolorem et nostrum architecto sequi?
Nihil, necessitatibus dignissimos optio nulla excepturi porro cupiditate perferendis odit, quas et dicta pariatur eius facere ipsum molestiae quia suscipit illum tenetur asperiores laborum? Suscipit debitis voluptatibus dolorem ab accusantium?
Alias dolorum vero numquam molestiae dolore inventore eaque repellat illum harum, eveniet voluptates aut obcaecati corrupti porro rem facilis dolores, esse soluta placeat debitis cumque, perspiciatis quibusdam velit suscipit? Rerum?
Vitae nam quisquam et nisi atque autem totam minus deleniti labore distinctio ab magni harum incidunt fugit explicabo exercitationem optio perferendis omnis maxime, sit dolores temporibus! Nihil ut beatae corporis.
Ut iure esse consequatur soluta voluptatibus repellat perferendis praesentium laboriosam fugit voluptatem laudantium cupiditate earum facere vitae eligendi, labore ipsum at! Voluptate tenetur, provident consequuntur qui commodi asperiores placeat animi?
Veritatis, placeat fugiat sit aspernatur assumenda quisquam totam sequi consequatur ullam, id labore reiciendis recusandae, illo facilis laboriosam. Quo voluptatum consectetur ad in provident sit dignissimos asperiores dolorum iusto obcaecati.
Ipsa, dolore veritatis officiis quas animi eum modi voluptate esse tempore aspernatur quisquam unde perferendis quo? Commodi harum, consequatur quo soluta non nesciunt officia eius architecto, doloremque libero tempore sed?
Illum assumenda quaerat magnam excepturi! Nisi, at eaque magnam libero iusto eos eius natus possimus vero, praesentium ipsam tempora nihil sunt reiciendis corporis, laboriosam nam laudantium et in suscipit sit!
Reprehenderit exercitationem, nulla cupiditate eligendi doloribus aliquid? Iste, odio dolorum aliquid dolore illo, perferendis dolores vero deleniti cupiditate deserunt quasi architecto temporibus molestias ex maiores qui officiis consequatur dolor reiciendis.
Consequatur numquam, sapiente fugit dignissimos quisquam reiciendis praesentium mollitia cupiditate enim temporibus atque quia. Voluptas sit consequatur maiores voluptate. Eum molestiae quasi ut perferendis quia nulla optio unde ab numquam!
Vitae placeat deleniti temporibus nemo sit natus, porro culpa in ratione laudantium nihil itaque voluptatem vero cum? Nobis modi ratione, cupiditate, nesciunt illum quo sit magni facere porro aspernatur velit.
Omnis illum eum porro quod commodi inventore molestias laborum excepturi nihil, quaerat assumenda perferendis voluptatibus magni voluptas blanditiis eos ut itaque repellendus tempora consequatur. Iure minima sapiente delectus consequatur incidunt?
Molestiae dolores laboriosam beatae nostrum quod iure, alias officiis, sint adipisci culpa tenetur explicabo, nisi deleniti temporibus maxime? Omnis, laudantium facilis velit at magni sapiente libero? Suscipit laudantium pariatur dolores?
Deleniti itaque doloribus ullam minima ipsam, sequi, error neque quia minus odit placeat tempore repellendus laudantium iste! Cum sequi aspernatur quos! Nihil praesentium est libero iusto fugit rerum suscipit! Sapiente!
Ipsam quo quis voluptatem placeat assumenda laboriosam hic, fugit ducimus enim explicabo qui magnam, possimus molestiae tenetur dolorem praesentium illo dignissimos nihil, neque velit mollitia nemo? Nesciunt nostrum sit ea.
Odit culpa perspiciatis quas libero exercitationem unde accusantium, repudiandae voluptates vitae. Asperiores non quisquam ducimus voluptate aliquid eveniet maiores voluptatem suscipit, aperiam animi odio minus omnis atque hic tempora ipsum?
Repellat officia vero rerum rem ea nulla, ipsum sequi magnam at esse laboriosam consequatur laudantium pariatur dolor possimus eaque eius eos dolore, ipsam provident aperiam quaerat ab! Ullam, maxime ea.
Suscipit inventore quis veniam, id laboriosam dolores quas ea a quasi distinctio asperiores aut! Quas nobis eius laudantium nihil. Nostrum laboriosam magnam velit pariatur doloribus autem eaque laudantium earum error?
Ipsam tempora cum laborum autem eos pariatur consequuntur quam sit fugit architecto quod similique, rerum accusantium libero ratione ad ducimus eaque culpa. Magnam ea unde facilis dolorum laborum nobis asperiores?
Hic aliquam sed optio ullam repudiandae, maiores omnis sunt deserunt non error saepe natus eius beatae tempore officia perspiciatis amet minima excepturi sequi, fugit corrupti numquam cum obcaecati. Molestiae, minus?
Fugit, distinctio voluptatum? Saepe similique ducimus repellendus maiores accusantium quod quo facere recusandae non assumenda omnis voluptatum laborum error iusto dolores qui ad distinctio, deleniti cupiditate magni quos iure soluta?
Saepe laborum blanditiis at, ipsum explicabo impedit cumque quibusdam dolore sequi nulla, veritatis atque nemo deleniti cupiditate modi totam ea minus ipsam ducimus. Voluptate, vero laboriosam magni eligendi quo eum.
Consequatur tenetur natus quos error repellat ipsa consequuntur harum numquam, eligendi, sed omnis voluptatum provident sunt eum. Tenetur, rerum commodi dolores nulla quasi ab, placeat ex, mollitia incidunt ullam voluptatibus?
Repellendus soluta iusto corporis voluptate. Omnis at dolorum ipsa odio, expedita sunt quam minima minus sequi commodi! Ea, non. Eum ea unde vero praesentium placeat tempore, atque ab hic pariatur.
Nulla beatae tenetur ea totam iste consequuntur dolorem, harum optio enim pariatur hic. Veritatis, est nihil eum, inventore dicta consectetur quos dolore, iusto magnam eaque quod natus perferendis cumque ab!
Eligendi accusamus consectetur magnam deleniti quia voluptate voluptas fuga exercitationem totam ea, modi tempore dolorem officia nisi, et saepe culpa inventore molestias dicta iusto! Possimus error vitae harum fugit eos!
