
<div class="text-center mt-4">
  <h2>New Reservation Request</h2>
</div>

<div class="text-center mt-5">
  <div class="w-50 mx-auto">
    <%= simple_form_for [@car, @reservation] do |f| %>
      <%= f.input :rented_from %>
      <%= f.input :rented_until %>
      <%= f.button :submit, class: "btn btn-dark mt-2" %>
    <% end %>
  </div>
</div>
