#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.footer{
  position: absolute;
  height: 2.5rem;            /* Footer height */
  -webkit-box-shadow: 0px -2px 14px -5px rgba(0,0,0,0.39);
  -moz-box-shadow: 0px -2px 14px -5px rgba(0,0,0,0.39);
  box-shadow: 0px -2px 14px -5px rgba(0,0,0,0.39);
  bottom: 0;
  width: 100%;
  margin-top: 40px;
}
.icons a{
  background-color: #2e2727;
}
.icons .facebook-icon:hover  {
  background-color: #3b5998;
}
.icons .twitter-icon:hover  {
  background-color: #55acee;
}
.icons .instagram-icon:hover  {
  background-color: #ac2b3e;
}

.link-footer a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.link-footer a:hover, .link-footer a:focus, .link-footer a:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.link-footer a:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.link-footer a:hover:before, .link-footer a:focus:before, .link-footer a:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

.link_log{
  text-decoration: none;
}
