
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-item:hover{
  background-color: red($color: #bd2d2db9);
}

.navbar-brand img{
  width: 7%;
}
li:hover{
  color: rgb(202, 202, 202);
}
.search{
  height: 40px;
  width: 270px;
}
form input:focus{
  border: 1px solid white;
}

.SMN_effect-48 a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.SMN_effect-48 a:hover, .SMN_effect-48 a:focus, .SMN_effect-48 a:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.SMN_effect-48 a:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.SMN_effect-48 a:hover:before, .SMN_effect-48 a:focus:before, .SMN_effect-48 a:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

.link_log{
  text-decoration: none;
}
